.patterns-toc .list-group {
    margin-bottom: 1rem;
}

h1.patterns-title {
    margin-bottom: 1rem;
}

.patterns section.patterns-pattern > h2 {
    font-weight: 300;
    font-size: 18pt;
}

.patterns section.patterns-pattern > p {
    font-weight: 300;
}

.patterns {
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.patterns section.patterns-pattern {
    margin-bottom: 3rem;
}

.patterns section.patterns-pattern > .nav-tabs {
    margin-bottom: 1rem;
}

.patterns section.patterns-pattern > .patterns-example > :last-child {
    margin-bottom: 0;
}

.patterns section.patterns-pattern .patterns-code {
    background-color: #eee;
    padding: 1em;
    max-height:800px;
}

.patterns-pattern iframe {
    border: 1px solid #ccc;
}