$font-family-sans-serif: 'Roboto', sans-serif;

@import "bootstrap";

/* In our font, the small label text needs to be a bit lighter. */
.label {
  font-weight: 300;
}

/* By and large, a container's padding should be enough without its last element's bottom margin. */
.card-block > :last-child,
.list-group-item > :last-child,
.card-footer > :last-child,
.card > .list-group:last-child {
  margin-bottom: 0;
}

/* Make sure that table content is also adapted to a card-inverse background. */
.card-inverse .table {
  color: white;
}

/* These links, by default, are too light. */
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.4);
}

/* Labels within a list-group-item need their positioning tweaked just a bit. */
.list-group-item .label.pull-xs-right {
  margin-top: 3px;
}


@import "atoms/textMinor";
@import "atoms/skinnyHeader";

@import "molecules/tableHeadless";
@import "molecules/tableIconPrefix";
@import "molecules/calendarSelector";
@import "molecules/patientCard";

@import "organisms/tableEvents";
@import "organisms/filterControls";
@import "organisms/tablePeople";
@import "organisms/tableProfile";

@import "molecules/unborderedButtonGroup";
@import "molecules/tableControlsSuffix";
@import "molecules/dropdownWithDetails";
@import "organisms/discussionPanel";
@import "molecules/navbarPlan";

@import "molecules/statCard";
@import "organisms/listGroupMenu";
