.navbar-mobile-search {
  .nav-item {
    width: 100%;
  }

  input.form-control {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 543px) {
  /* Need to increase body padding to avoid the global mobile search bar. */
  body {
    padding-top: 40px;
  }
}
