/* primaryNav */

.navbar-primary {
  .navbar-brand img {
    height: 29px;
  }

  .nav-link .img-circle {
    width: 21px;
    height: 21px;
  }

  .zmdi-notifications {
    font-size: 21px;
    vertical-align: -2px;
  }

}
