/* goalBar */
.goal-bar, .restricted-bar {
  padding: $card-spacer-y $card-spacer-x;
  border-top: 1px solid $card-border-color;
  border-bottom: 1px solid $card-border-color;
  font-weight: 400;
}

.goal-bar {
  color: theme-color-level("warning", $alert-color-level);
  @include gradient-bg(theme-color-level("warning", $alert-bg-level));

  .btn {
    vertical-align: 1px;
    margin:0 0.25rem;
  }

  &.achieved {
    color: color-yiq(theme-color("success"));
    @include gradient-bg(theme-color-level("success", $alert-bg-level));
  }
}
