/* goalBar */
.goal-bar, .restricted-bar {
  padding: $card-spacer-y $card-spacer-x;
  border-top: 1px solid $card-border-color;
  border-bottom: 1px solid $card-border-color;
  font-weight: 400;
}

.goal-bar {
  // background-color: $state-warning-bg;
  // color: $state-warning-text;
  color: color-yiq(theme-color("warning"));
  @include gradient-bg(theme-color("warning"));

  .btn {
    vertical-align: 1px;
    margin:0 0.25rem;
  }

  &.achieved {
    color: color-yiq(theme-color("success"));
    @include gradient-bg(theme-color("success"));
  }
}
