.restricted-bar {
  background-color: $state-info-bg;
  color: $state-info-text;
  line-height: 30px;
  
  @include media-breakpoint-up(sm) {
    .breadcrumb + & {
      margin-bottom: 1em;
    }
  }

  > .zmdi {
    margin-right:0.25rem;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  .btn {
    margin-top:-1px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
