.restricted-bar {
  color: theme-color-level("info", $alert-color-level);
  @include gradient-bg(theme-color-level("info", $alert-bg-level));
  line-height: 1.9;

  @include media-breakpoint-up(sm) {
    .breadcrumb + & {
      margin-bottom: 1em;
    }
  }

  > .zmdi {
    margin-right:0.25rem;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  .btn {
    margin-top:-1px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
