.filter-controls {
  border: 1px dotted #ccc;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;

  li.list-inline-item {
    &:not(:last-child) {
      margin-right:1.5rem;
    }

    > a {
      color: #666;
      font-size:85%;
    }
  }


}
