.patient-nav-card .card-header {
  padding: 0.5rem;

  .table-profile th {
    width: 75px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .patient-card-metadata {
    font-size: 85%;
  }

  .meta {
    padding-right: 0.5rem;
  }
}