/* sectionCard */

.card-section {
  .card-title {
    font-weight: 300;
  }

  .card-body :last-child {
    margin-bottom: 0;
  }

  .card-footer {
    text-align: center;

    a {
      color: inherit;
    }
  }

  > .list-group {
    margin-bottom: 0;

    .list-group-item {
      &:last-of-type {
        border-bottom: 0;
      }

      .table-icon-prefix td:first-child {
        padding-left: 0;
      }
    }
  }
}
