/* tableActivities */

.table-activities {
  .activity-summary {
    margin-top:0.25rem;
  }

  .activity-previous {
    text-decoration: line-through;
  }

  .activity-person {
    color: inherit;
  }

  .last-viewed {
    border-top-color:#999;
  }

  ul {
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
  }

  td :last-child {
    margin-bottom: 0;
  }

  .diff {
    color: $text-muted;
    font-size: $small-font-size;
    line-height: $line-height-sm;
    font-weight: 300;
  }
}
