/* cardBlockScroll */

.card-block-scroll {
  border-top: $card-border-width solid $card-border-color;
  border-bottom: $card-border-width solid $card-border-color;
  max-height: 15rem;
  overflow-y: scroll;
}
