/* iconCallout */

.icon-callout {
  > :first-child {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-top: -0.05rem;
    margin-right: 0.5rem;
  }

  p {
    line-height: 1.2;
    margin-left: 3rem;
  }
}
