.patient-card, .patient-nav-card .card-header {
  a {
    color: white;
    text-decoration: underline;
  }

  .table tr:first-child > * {
    border-top: none !important;
  }

  .patient-card-metadata + .patient-card-tags {
    margin-top: 0.5rem;
  }

  .table:first-child {
    margin-bottom: 0;
  }
}

.patient-card {
  border: none;

  .meta {
    padding-right: 1rem;
  }
  .card-footer {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 80%;
  }

  .card-more {
    cursor: pointer;
    padding: 0.5rem 1.25rem 0.5rem calc(125px + 2rem);
    text-decoration: underline;
  }

  .card-body + .card-more {
    margin-top: -0.5rem;
  }

  .patient-more {
    padding-left: calc(125px + 0.75em);

    .table th, .table td {
      border-top-style: dotted;
    }

    .table th {
      padding-left: 0;
      width: 100px;
      font-weight: 400;
    }
  }
}
