/* primaryNav */

.navbar-primary {
  background-color: #1B3348;
  
  .navbar-brand img {
    max-width: 200px;
    max-height: 50px;
  }

  .navbar-product {
    font-size: 85%;
    padding: 0.5rem 0.5rem 0;
    color: white;
  }

  .form-control { font-weight: 300; }

  .nav-link {
    > .zmdi {
      font-size: 21px;
      vertical-align: -2px;
    }

    .rounded-circle {
      width: 21px;
      height: 21px;
      color: white;
      font-size: 85%;
    }
  }

  .badge {
    padding-top:0.15em;
  }

  .dropdown-menu {
    min-width: 15rem;
    line-height: 1.3;
  }
}