/* primaryNav */

.navbar-primary {
  .navbar-brand img {
    height: 29px;
  }

  .nav-link {
    > .zmdi {
      font-size: 21px;
      vertical-align: -2px;
    }

    .rounded-circle {
      width: 21px;
      height: 21px;
    }
  }

  .tag {
    padding-top:0.15em;
  }

}
