/* privacyBar */
.restricted-bar {
  background-color: $state-info-bg;
  color: $state-info-text;

  > .zmdi {
    margin-right:0.25rem;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  .btn {
    margin-top:-1px;
  }
}
