.discussion {
  .discussion-person {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    line-height: 1.3;

    img {
      width: 30px;
      height: 30px;
      margin-right: 0.5rem;
    }

    .text-minor {
      flex: 1;
    }

    .btn-resolve {
      font-size: 0.7rem;
      padding: 0.2rem 0.6rem;
    }
  }

  .discussion-reply {
    background-color: #eee;
  }
}
