.filter-controls {
  border-bottom: 1px dotted #ddd;
  padding:0.5rem 0;



  li.list-inline-item {
    &:not(:last-child) {
      margin-right:1.5rem;
    }

    > a {
      color: #666;
      font-size:85%;
    }
  }


}
