.mobile-page-title {
  display: flex;
  align-items: center;
  height: 62px;

  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.95);

  img {
    height: 21px;
  }

  > .btn {
    flex: 1;
  }

  > .title {
    flex: 5;
    text-align: center;
    line-height: 1;
  }
}

@media (max-width: 991px) {
  /* Need to increase body padding to avoid the mobile page title. */
  body { padding-top: 62px; }
}