.table-events {
  tbody {
    td:nth-child(2) {
      white-space: nowrap;
    }
    td:last-child {
      width: 60%;
      a {
        text-decoration: underline;
        font-weight: 400;
      }
    }
  }
}
