/* tableActivities */

.table-activities {
  .activity-summary {
    margin-top:0.25rem;
  }

  .activity-previous {
    text-decoration: line-through;
  }

  .activity-person {
    color: inherit;
  }

  .last-viewed {
    border-top-color:#999;
  }

  ul {
    padding: 0.5rem 1.5rem;
  }

  td :last-child {
    margin-bottom: 0;
  }

  .diff {
    color: #818a91;
    font-size: 85%;
    line-height: 1.3;
    font-weight: 300;
  }
}
