<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{{name}}</title>

    <!-- Add your description in the `content` attribute -->
    <meta name="description" content="" />

    <!-- Just for convenience, we link to the generated stylesheet,
    so you can view your snippet individually as you work on it. -->
    <link rel="stylesheet" href="../../out/app.css" />

</head>
<body>

<!-- Delete this comment and add your example HTML here -->

</body>
</html>
