/*
**  Set Bootstrap variable overrides here, before importing bootstrap.
*/

$font-family-sans-serif: 'Roboto', sans-serif;
$input-padding-y-lg: 0.75rem; // Bootstrap's default padding for large inputs seemed way off.
$input-padding-x-lg: 0.75rem;
$enable-flex: 1;

@import "bootstrap";

body, .tooltip {
  font-weight: 200;
}

.tooltip {
  line-height: 1.3;
}

.tag {
  /* In our font, the small label text needs to be a bit lighter. */
  font-weight: 300;
  /* By Bootstrap's default, tags don't seem to align with nearby text quite right */
  vertical-align: 1px;
}

.list-group {
  margin-bottom: 1rem;
}

.card > .list-group {
  &:first-child .list-group-item:first-of-type {
    border-top: 0;
  }

  &:last-child .list-group-item:last-of-type {
    border-bottom: 0;
  }

  > .list-group-item {
    border-left: 0;
    border-right: 0;
  }
}

/* By and large, a container's padding should be enough without its last element's bottom margin. */
.card-block > :last-child,
.list-group-item > :last-child,
.card-footer > :last-child,
.card > .list-group:last-child {
  margin-bottom: 0;
}

/* Make sure that table content is also adapted to a card-inverse background. */
.card-inverse .table {
  color: white;
}

.card-inverse {
  .card-link,
  .card-text,
  .card-subtitle,
  .card-blockquote .blockquote-footer {
    color: rgba(255, 255, 255, .85);
  }

  a.card-link {
    text-decoration: underline;
  }
}

/* Card titles look better when they're lighter */
.card-title {
  font-weight: 300;
  margin-bottom: 1rem;
}

/* These links, by default, are too light. */
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.4);
}

/* When .text-muted (normally gray) is used in an .active .list-group-item (blue background) make a little color adjustment. */
.list-group-item.active .text-muted {
  color: rgba(255, 255, 255, 0.6) !important;
}

/* When we use a fixed-width icon in a list group item, add some margin, so we don't need to use spaces. */
.list-group-item > .zmdi-hc-fw {
  margin-right: 0.5rem;
}

/* Labels within a list-group-item need their positioning tweaked just a bit. */
.list-group-item .tag.float-xs-right {
  margin-top: 3px;
}

/* Links within alert elements look better when they inherit their color from the container.
(Since we're not using blue, we fall back on underline to indicate clickability.) */
.alert a {
  color: inherit;
  text-decoration: underline;
}

/* When full-width `form-control`s are next to each other, there needs to be some spacing. */
.form-control + .form-control {
  margin-top:0.5rem;
}

@import "atoms/applicationNotice";
@import "atoms/tagMuted";
@import "atoms/textMinor";
@import "atoms/skinnyHeader";
@import "atoms/userPresenceIndicator";
@import "atoms/tagClear";
@import "atoms/permissionCheckbox";
@import "atoms/personPreview";
@import "atoms/cardBlockScroll";
@import "atoms/activePillTag";
@import "atoms/backgroundBranded";
@import "atoms/buttonClear";

@import "molecules/reapopTheme";
@import "molecules/shepherdTheme";
@import "molecules/smallListGroup";